
{% set account = [
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]},
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]},
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]},
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]},
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]},
    {"list": [
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"},
        {"link": "#", "title": "Калькулятор"}
    ]}

]%}


<div class="content__block block">
    <h3><img src="/images/acc.png">Объекты учета</h3>
    <div class="list-objects">
        {% for item in account %}
            <ul class="list-objects__item">
                {% for subitem in item.list %}
                    <li><a href="{{ subitem.link }}">{{ subitem.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>