<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="style/main.css" />
        <title>{% block title %}{% endblock %} - Dostavito</title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='description' content=''>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    {% endblock %}
</head>
<body class="page {% block pageClass %}{% endblock %}">
    <div class="main-container">
        <div class="page__inner">
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
            <div class="container page__container">
                <div class="sidebar sidebar_left"> {% block sidebar_left %}{% endblock %}</div>
                <div class="content"> 
                    
                    {% block content %}{% endblock %} 
                </div>
                <div class="sidebar sidebar_right"> {% block sidebar_right %}{% endblock %}</div>
                <div class="clearfix"></div>
            </div>
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </div>
    </div> 
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
  
    {% block script %}{% endblock %}
    <script src='js/main.js'></script>
</body>
</html>