<!--     <div class="block">
        <h3><img src="images/cell.png">Счета бухгалтерского учета</h3>
        <div class="new">
            <h4>Полезные сервисы</h4>
            <span>01.25.2017</span><br/>
            <p>Бухгалтерия — это неотъемлемая и важная составляющая в деятельности любой компании – как крупной, так и начинающей свое становление, и от того на сколько качественно осуществляется бухгалтерский учет в компании зависит дальнейшее ее успешное развитие.</p>
            <a href="" class=" new__button button">Подробнее</a>
        </div>
    </div> -->


<!-- </div> -->
<div class="content">
   <!--  <div class="content__block block">
        <h2>Добро пожаловать<br/> на информационно-справочный портал<br/> «Инструменты Бухгалтера»!</h2>
        <p>Наша компания осуществляет свою деятельность в сфере бухгалтерского и налогового учета на условиях Внешнего обслуживания.</p>
        <p>Внешняя бухгалтерия в настоящее время очень популярна среди малого и среднего бизнеса из-за своей доступной стоимости по сравнению с зарплатами штатных бухгалтеров. Но очень важно выбрать надежного партнера, который будет для Вас опорой в Вашем бизнесе, и работая над своим бизнесом, вы не будете тратить свое драгоценное время на решение бухгалтерских вопросов, связанных с учетом и отчетностью в контролирующие органы.</p>
        <p>Мы понимаем, что Вы, как собственник, прежде всего озабочены текущей деятельностью своего бизнеса, и мы как никто ценим Ваше время и делаем все, что в наших силах, чтобы Вы не отвлекались от своих важных дел! </p>

    </div> -->
     
    <div class="content__block block">
        <h3><img src="/images/camera.png">Инструменты Бухгалтера</h3>
        <div class="video"></div>   
    </div>
    <div class="reclame"></div>

   
        
          
    </div>
    <div class="sidebar sidebar_right">
        <div class="block">
            <div class="sidebar__reclame"></div>
        </div>
        
        <div class="block">
            <div id="vk_groups"></div>
        </div>
        <div class="block">
            <div class="sidebar__reclame"></div>
        </div>
    </div>
<div style="clear: both;"></div>