<div class="content__block block">
    <h3><img src="/images/pen.png">Обратная связь</h3>
    <p>В этом разделе вы можете задать интересующий вас вопрос, а также посмотреть ответы на общие бухгалтерские вопросы.</p>
    <p>Все поля обязательны для заполнения.</p>
    <form action="" method="post" class="feedback">
        <input type="text" name="" placeholder="Имя" class="feedback__data"/>
        <input type="text" name="" placeholder="email" class="feedback__data"/><br>
        <input type="text" name="" placeholder="Сообщение" class="feedback__massage"/>
        <button type="submit" name="" value="" class="button feedback__button">Отправить</button>
    </form>

</div>