{% set directory = [
    {"title": "Калькуляторы", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Нормативы расходов", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Взносы и пособия", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Закон о бухучете", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Налоги", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "ИП", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Основные коды", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Мрот", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Словарь бухгалтера", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Экономический словарь", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]},
    {"title": "Голоссарий", "list": [
        {"link": "#", "title": "Калькулятор отпускных"},
        {"link": "#", "title": "Калькулятор НДФЛ"},
        {"link": "#", "title": "Калькулятор НДС"}
    ]}

]%}


<div class="block">
    <h3><img src="images/catalog.png">Справочники</h3>
    <div id="directory" class="directory">
        {% for item in directory %}
            <div class="directory__item"><h4>{{ item.title }}</h4></div>
            <div class="directory__list">
                <ul class="directory__catalog catalog">
                    {% for subitem in item.list %}
                        <li><a href="{{ subitem.link }}">{{ subitem.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>