<div class="footer">
	<div class="footer__container container">
		<div class="horizontal-menu horizontal-menu__footer">
			<div class="horizontal-menu__panel panel footer__panel">
		   		<ul class="panel-list">
					<li class="panel-list__item"><a href="">Теория бухгалтерского учета</a></li>
					<li class="panel-list__item"><a href="">Налоги и отчетность</a></li>
					<li class="panel-list__item"><a href="">Особенности учета<br> по видам деятельности</a></li>
					<li class="panel-list__item"><a href="">МФСО</a></li>
					<li class="panel-list__item"><a href="">Общие бухгалтерские вопросы</a></li>
				</ul>
		   		<ul class="panel-list">
					<li class="panel-list__item"><a href="">Формы документов<br> и образцы заполнения</a></li>
					<li class="panel-list__item"><a href="">Бухгалтерские программы</a></li>
					<li class="panel-list__item"><a href="">Бухгалтерские курсы</a></li>
					<li class="panel-list__item"><a href="">Полезные сервисы</a></li>
					<li class="panel-list__item"><a href="">Бухгалтерский бизнес</a></li>
				</ul>
				<a href="/" class="footer__logo">
					<img src="images/logo.png" class="logo__image" />
				</a>
				<ul class="panel-list">
					<li class="panel-list__item"><a href="">Главная</a></li>
					<li class="panel-list__item"><a href="">Новости</a></li>
					<li class="panel-list__item"><a href="">Полезные статьи</a></li>
					<li class="panel-list__item"><a href="">Карта сайта</a></li>
					<li class="panel-list__item"><a href="">Контакты</a></li>
					<li class="panel-list__item"><a href="">Связаться с нами</a></li>
					

				</ul>
				<div class="social-network">
					<p class="social-network__p">Мы в социальных сетях</p><br>
					<ul class="social-network__list">
						<li class="social-network__item"><a href=""><img src="/images/vk.png"></a></li>
						<li class="social-network__item"><a href=""><img src="/images/facebook.png"></a></li>
						<li class="social-network__item"><a href=""><img src="/images/tweet.png"></a></li>
						<li class="social-network__item"><a href=""><img src="/images/youtube.png"></a></li>
						<li class="social-network__item"><a href=""><img src="/images/instagram.png"></a></li>
					</ul>
					<a class="button button__footer" href="">Подписаться на новости</a>
		   		</div>
		   	</div>
		   	<ul class="horizontal-menu__list list_down">
				<li class="horizontal-menu__item"><a href="">Счета бухгалтерского учета</a></li>
				<li class="horizontal-menu__item"><a href="">Объекты учета</a></li>
				<li class="horizontal-menu__item"><a href="">Налоги и взносы</a></li>
				<li class="horizontal-menu__item"><a href="">Справочники</a></li>
				<li class="horizontal-menu__item"><a href="">Сервисы и программы для бухгалтера </a></li>
				<li class="horizontal-menu__item"><a href="">Видео-материалы</a></li>
			</ul>
			<div class="docked docked_footer">
		   			
			</div>

		</div>
	</div>
</div>