<div class="header">
   <div class="header__container container">
   		<div class="docked">
   			<ul class="docked__list">
				<li class="docked__item"><img src="images/kontur.png" class="docked__icon"><a href="">Главная</a></li>
				<li class="docked__item"><img src="images/group.png" class="docked__icon"><a href="">Карта сайта</a></li>
				<li class="docked__item"><img src="images/kontur2.png" class="docked__icon"><a href="">Обратная связь</a></li>
			</ul>
			<div class="unit"></div>
			<a class="link" href="">Подписаться на новости</a>
		</div>
   		<div class="horizontal-menu horizontal-menu_header">
   			<ul class="horizontal-menu__list list_top">
				<li class="horizontal-menu__item"><a href="">Теория<br> бухгалтерского учета</a></li>
				<li class="horizontal-menu__item"><a href="">Налоги и отчетность</a></li>
				<li class="horizontal-menu__item"><a href="">Особенности отчета по видам деятельности</a></li>
				<li class="horizontal-menu__item"><a href="">МСФО</a></li>
				<li class="horizontal-menu__item"><a href="">Полезные статьи</a></li>
				<li class="horizontal-menu__item"><a href="">Контакты</a></li>
			</ul>
   			<div class="horizontal-menu__panel panel">
   				<a href="/" class="logo">
					<img src="images/logo.png" class="logo__image" />
				</a>
				<form action="" method="post" class="search">
  					<input type="search" name="" placeholder="Поиск" class="search__row row"/>
  					<input type="submit" name="" value="" class="search__row-button row-button"/>
				</form>
				<div class="enter">
					<a class="enter__button button">ВХОД</a>
					<a href="" class="enter__check-in">Регистрация</a><br>
					<a href="" class="enter__check-in">Вспомнить пароль</a>
   				</div>
   			</div>
   			
   		</div>
   </div>
</div>