{% set info = [
    {"title": "Теория бухгалтерского учета", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Налоги и отчетность", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Особенности учета по видам деятельности", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "МСФО", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Общие бухгалтерские вопросы", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Полезные статьи", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Формы документов и образцы заполнения", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Бухгалтерские программы", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Бухгалтерские курсы", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Полезные сервисы для бухгалтеров", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Бухгалтерский бизнес", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Видеоматериалы", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Вопросы и ответы", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Новости", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Рубрикатор", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]},
    {"title": "Контакты", "list": [
        {"link": "#", "title": "Бухгалтерская отчетность"},
        {"link": "#", "title": "Бухгалтерские проводки"},
        {"link": "#", "title": "Бухгалтерский учет"}
    ]}
]%}



<div class="block block__info">
    <h3><img src="images/info.png">Информация</h3>
    <div id="accordion" class="accordion">
        {% for item in info %}
            <div class="accordion__item"><h4>{{ item.title }}</h4></div>
            <div class="accordion__list">
                <ul class="accordion__catalog catalog">
                    {% for subitem in item.list %}
                        <li><a href="{{ subitem.link }}">{{ subitem.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>