{% set news = [
    {"title": "Рита", "date": "25.01.2017", "text": "Бухгалтерия — это неотъемлемая и важная составляющая в деятельности любой компании – как крупной, так и начинающей свое становление, и от того на сколько качественно осуществляется бухгалтерский учет в компании зависит дальнейшее ее успешное развитие."}
    ,
    {"title": "умная", "date": "26.01.2017", "text":"Бухгалтерия — это неотъемлемая и важная составляющая в деятельности любой компании – как крупной, так и начинающей свое становление, и от того на сколько качественно осуществляется бухгалтерский учет в компании зависит дальнейшее ее успешное развитие."}
    

]%}

<div class="block">
    <h3><img src="images/news.png">Новости</h3>
    <div class="news">
        {% for item in news %}
            <h4>{{ item.title }}</h4>
            <span>{{ item.date }}</span><br/>
            <p>{{ item.text }}</p>
            <a href="" class=" news__button button">Подробнее</a>
        {% endfor %}
    </div>   
</div>