{% set directory = [
    {"title": "Какие полезные сервисы для бухгалтеров существуют?", "text": "Положения по бухгалтерскому учету являются основными нормативными документами, которые устанавливают правила и требования к организации учета, порядку раскрытия информации в бухгалтерской отчетности, а также основные финансовые показатели форм бухгалтерской отчетности. "
    },
    {"title": "Какие имеются положения по бухгалтерскому учету?", "text": "Положения по бухгалтерскому учету являются основными нормативными документами, которые устанавливают правила и требования к организации учета, порядку раскрытия информации в бухгалтерской отчетности, а также основные финансовые показатели форм бухгалтерской отчетности. "},
    {"title": "Какие имеются положения по бухгалтерскому учету?", "text": "Положения по бухгалтерскому учету являются основными нормативными документами, которые устанавливают правила и требования к организации учета, порядку раскрытия информации в бухгалтерской отчетности, а также основные финансовые показатели форм бухгалтерской отчетности. "},
    {"title": "Какие имеются положения по бухгалтерскому учету?", "text": "Положения по бухгалтерскому учету являются основными нормативными документами, которые устанавливают правила и требования к организации учета, порядку раскрытия информации в бухгалтерской отчетности, а также основные финансовые показатели форм бухгалтерской отчетности. "},
    {"title": "Какие имеются положения по бухгалтерскому учету?", "text": "Положения по бухгалтерскому учету являются основными нормативными документами, которые устанавливают правила и требования к организации учета, порядку раскрытия информации в бухгалтерской отчетности, а также основные финансовые показатели форм бухгалтерской отчетности. "}

]%}

<div style="margin-bottom: 70px; border: 1px solid transparent"> <!-- вынести -->
<div class="block quest">
    <h3><img src="images/catalog.png">Общие бухгалтерские вопросы</h3>
    <div id="directory" class="directory quest__directory">
        {% for item in directory %}
            <div class="directory__item"><h4>{{ item.title }}</h4></div>
            <div class="directory__list">
                <p>{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
    <button type="submit" name="" value="" class="button quest__button">Перейти в раздел</button>
</div>

<div class="article__social-network social-network">
    <ul class="social-network__list">
    <li class="social-network__item">Поделиться:</li>
        <li class="social-network__item"><a href=""><img src="/images/vk-sm.png"></a></li>
        <li class="social-network__item"><a href=""><img src="/images/facebook-sm.png"></a></li>
        <li class="social-network__item"><a href=""><img src="/images/tweet-sm.png"></a></li>
        <li class="social-network__item"><a href=""><img src="/images/odn-sm.png"></a></li>
        <li class="social-network__item"><a href=""><img src="/images/google-sm.png"></a></li>
    </ul>
</div>
</div>