{% set services = [
    {"title": "1C:бухучет", "text": "Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки."
    },
    {"title": "1C:бухобслуживание", "text":"Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки. "
    },
    {"title": "1C:бухгалтерия", "text": "Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки."
    },
    {"title": "1C:бухучет", "text":"Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки. "
    },
    {"title": "1C:бухобслуживание", "text": "Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки."
    },
    {"title": "ИНФиН:Online", "text":"Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки. "
    },
    {"title": "IMBoss", "text": "Наиболее популярная отечественная бухгалтерская система. Большое количество конфигураций и дополнений и возможностей для настройки."
    }

]%}

<div class="block">
    <h3><img src="images/services.png">Сервисы</h3>
    <div id="directory" class="directory">
        {% for item in services %}
        <div class="directory__item"><h4>{{ item.title }}</h4></div>
        <div class="news">
            <p>{{ item.text }}</p>
            <a href="" class=" news__button button">Подробнее</a>
        </div>
       {% endfor %}
    </div>
</div>