@import "var";

.header{
	position: relative;
    overflow: visible;

}
.docked{
	background-image: url(.//images/head.png);
	display: block;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;

	
	&__list{
		display: inline-block;
		text-align: left;
		position: relative;
		left: -80px;

	}
	&__item{
		white-space: nowrap;
		margin-bottom: 3px;
	}
	&__item:hover a{
		text-decoration: underline;
	}
	&__item a{
		text-decoration: none;
		font-family: @c-ffamaly;
		color: #fff;
		font-size: 12px;
	}
	&__icon{
		padding-right: 5px;
	}
	&__button{
		 position: relative;
    right: -80px;
    bottom: 20px;
    height: 30px;
		line-height: 30px;
		font-size: 12px;
		background: @c-white;
	}
}

.unit{
	width: 570px;
	height: 40px;
	background: white;
	display: inline-block;
	margin-bottom: 5px;
}
.link{
	white-space: nowrap;
    font-family: @c-ffamaly;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(#00615a 0%, #00756d 70%, #005751 100%);
    padding: 7px 25px;
    border-radius: 7px;
    position: relative;
    right: -80px;
    bottom: 20px;
}
.panel{
	
	box-shadow:
        0px -10px 0px 0px #00776f,
        0px 10px 0px 0px #ffebb2;
    background: linear-gradient(to top, #f0cb86 -10%, #f5edd5 15%, #f5edd5 60%, #e7e7e6 100%);
    padding: 30px 0;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.search, .select{
	background: #f2edd1;
	position: relative;
	width: 640px;
	height: 40px;
	float: left;
	margin-bottom: 20px;
	border-radius: 15px;
}
	.row{
		border-radius: 15px;
		border: none;
		position: absolute;
		top: 0px;
		padding: 10px 30px;
		box-shadow: inset 0px -8px 22px -4px rgba(201,199,201,1);
		

	&-button{
    	position: absolute;
   		right: 0;
    	border-radius: 0 15px 15px 0;
    	height: 40px;
    	width: 30px;
    	border: none;
    	background: #f2edd1;
    		
    	box-shadow: inset 0px -8px 22px -4px rgba(201,199,201,1);	
    	
    	padding: 0;
	}
}
.search{
	width: 600px;
	height: 40px;
	float: left;
	margin-bottom: 20px;
	border-radius: 15px;
	position: relative;
	left: 50%;
	margin-left: -508px;

	&__row{
		height: 40px;
		width: 100%;
		border-width: 1px 0 1px 1px ;
    	border-color: #fff;
    	border-style: solid; 
	
		&-button{
			background-image: url(.//images/search.png);
			background-repeat: no-repeat;
	    	background-position: center;
	    	border-width: 1px 1px 1px 0;
    	border-color: #fff;
    	border-style: solid; 
		}
	}
}
.select{
	&__row{
		height: 40px;
		width: 100%;
		border-width: 1px 0 1px 1px ;
    	border-color: #ccc;
    	border-style: solid; 

		&-button{
			background-image: url(.//images/select.png);
			background-repeat: no-repeat;
	    	background-position: center;
	    	border-width: 1px 1px 1px 0;
    	border-color: #ccc;
    	border-style: solid; 
		}
	}
}
/*form{
	
}
*/

.enter{
    position: absolute;
    color: #00776f; 
    text-align: center;
    right: 50px;
    top: 30px;

	&__button{
		height: 40px;
		line-height: 40px;
    	text-transform: uppercase;
    	
    	
   	}
    &__check-in{
    	color: #00776f; 
    	text-decoration: none;
    	font-family: @c-ffamaly;
    	font-size: 12px;
    	&:hover{
    		text-decoration: underline;
    	}
    }
}
.logo{
	float: left;
    width: 280px;
    height: 90px;
    position: relative;
    margin: -10px 0px;
    left: 50px;

	&__image{
		max-height: 90px;
	}
}
.horizontal-menu{
	margin-top: -30px;

	&__list{
		
		text-align: center;
		position: relative;
		z-index: 1;
	}

	&__item{
		/*box-shadow: inset 0px -8px 22px -4px @c-button-grad;*/
    .box-shadow(@c-button-grad);
    background: #f4f2ed;
		width: 175px;
		display: inline-block;
		vertical-align: middle;
	}
	&__item a{
		text-decoration: none;
		font-family: @c-ffamaly;
		color: #00776f;
		font-size: 12px;
		display: block;
		padding: 5px 10px 5px 10px;
		height: 30px;
		text-align: center;
		line-height: 1;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content:center;
	}
	.list_top &__item, .list_top &__item:hover a{
		border-radius: 3px 3px 0 0;
	}
	.list_down &__item, .list_down &__item:hover a{
		border-radius: 0 0 3px 3px;
	}
	&__item a:hover {
		color: #fff;
		background: @c-button_hover;
        .box-shadow(@c-button_hover - #444);
	}
}

.horizontal-menu_header:after{
	content: "";
	background-image: url(.//images/person2.png);
	background-repeat: no-repeat;
	width: 112px;
	height: 197px;
	position: absolute;
	top: 95px;
	right: -66px;
z-index: 1;
	
}
    .horizontal-menu_header:before{
    content: "";
    background-image: url(.//images/person1.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 213px;
    z-index: 1;
	
    left: -88px;
    
}
.rate{
	position: relative;
	top: 55px;
	font-size: 12px;
	font-family: @c-ffamaly;
	color: @c-orange;
	text-transform: uppercase;

	&__item{
		display: inline-block;
		margin-right: 25px;
	}
}
