@import "var";

html, body{
	height: 100%;
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
}
.main-container{
    min-width: 1280px;
    max-width: 1400px; 
    background: transparent; 
    position: relative; 
    margin: 0 auto; 
    height: 1000px;
}
.page{
    -webkit-font-smoothing: antialiased;
    
    font-weight: 300;
    color: @c-black;
    background-color: @c-white;

    &__inner{
        /*max-width: 1280px;
        min-width: 1280px;*/
        box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.75);
       /* margin: 0 auto;*/
        min-height: 100%;
        position: absolute;
        left: 90px;
        right: 70px;
        background: linear-gradient(270deg, #f4f7f6 20%, #fff 20%, #fff 80%, #f4f7f6 80%);

    }

    
    &__footer{
        height: 230px;

    }

    &__container{
        background: linear-gradient(270deg, #f4f7f6 20%, #fff 20%, #fff 80%, #f4f7f6 80%);
    }
}

input, textarea, keygen, select, button {
    
}

.container{
    /*min-width: 1280px;
    max-width: 1280px;*/
    padding: 0px;
    margin: 0 auto;
    /*box-sizing: border-box;*/
    min-height: 100px;
    clear: both;

    
}

.hide{
    display: none;
}

a{
    color: @c-link;
    text-decoration: none;

    &:hover{
        
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 500;
    margin-bottom: 1em;
}

h1, .h1{
    
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
   
}

p{
    margin-bottom: 1em;
}

.text{
    padding-top: 30px;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}
.button{
    background: @color-button;
    border-radius: 10px;
    font-family: @c-ffamaly;
    /*box-shadow: inset 0px -8px 22px -4px @c-button-grad;*/
    .box-shadow(@c-button-grad);
    border: 1px solid #fff;
    color: #00776f; 
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    padding: 0 20px;

     border:1px solid @color-button + #333;

    &:hover{
        box-shadow: none;
        color: #fff;
        background: @c-button_hover;
       .box-shadow(@c-button_hover - #444);
        border-color: transparent;
    }
}
.box-shadow(@color){
    /*box-shadow: inset 0px -8px 22px -4px @c-button_hover - #444;*/
    box-shadow: inset 0px -8px 22px -4px @color;
}